.interests-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title {
    font-size: var(--text-4xl);
    font-weight: 600;
    color: #fbfbfb;
    font-family: "Libre Baskerville", serif;
    margin-left: -2rem;
}
.line {
    height: 2px;
    width: 100px;
    background-color: #fec86a;
    margin-right: 32px;
    margin-bottom: 1.5rem;
    margin-left: -2rem;
    margin-top: 0.5rem;
}
.subtitle{
    margin-left: -2rem;
    margin-right: -3rem;
    font-size: var(--text-lg);
}
.interest-cards{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    margin-top: 2.5rem;
    margin-left: -1rem;
}
.interest-card{
    position: relative;
    cursor: pointer;
    border: 1px solid #fec86aaf;
    border-radius: 0.5rem;
}
.project-container{
    padding: 2rem 2rem 1.5rem 1.5rem;
}
.project-title {
    font-size: var(--text-2xl);
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    margin-bottom: 1rem;
    position: relative; /* To ensure text appears above the overlay */
    z-index: 1;
}
.project-description {
    position: relative;
    z-index: 1;
    color: var(--primary-white);
    font-size: var(--text-g);
}
.project-image{
    position: absolute;
    inset: 0;
    opacity: 28%;
}
.project-image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
@media (min-width: 640px) {
    .title {
        font-size: var(--text-2xl);
        font-weight: 600;
        color: #fbfbfb;
        font-family: "Libre Baskerville", serif;
        margin-left: -2rem;
    }
}
@media (min-width: 768px) {
    .title {
        font-size: var(--text-3xl);
        font-weight: 600;
        color: #fbfbfb;
        font-family: "Libre Baskerville", serif;
        margin-left: -2rem;
    }
}
@media (min-width: 1024px) {
    .interest-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
    }
}